repos:
-   repo: https://github.com/ambv/black
    rev: 25.11.0
    hooks:
    - id: black
      language_version: python3
-   repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: mixed-line-ending
    - id: trailing-whitespace
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.18.2"
    hooks:
    - id: mypy
      additional_dependencies: [
        "numpy>=1.20",
        "gambaterm>=0.13.0",
        "types-setuptools",
      ]
      args: []
